#page{
    width: 90%;
}
header{
    background-color: #ebebe0;
    margin: 0px;
    padding: 0px;

    width: 100%;
    height: 870px;
    min-height: 770px;
    position: absolute;  /* Set up positioning */
    top: 0;
    left: 0;

}
.secondarynav{
    display: inline;
    list-style-type: none;
    padding: 0px 3px 0px 3px;
    margin: 0px;
    font-size: 12px;
    font-weight: 300px;
    color: #4e4e32;

    text-decoration: none;
    position: relative;
    left: 433px;
    font-family: Arial, Helvetica, sans-serif;
}
#item1{
    border-right: 1px solid black;
    padding-right: 15px;
}
ul{
    margin: 21px 0px 0px 21px;
}
#logo{
    display: block;
    position: relative;
    left: 105px;
    top: 21px;
}

.navcolor{
    background-color: #000033;
    width: 919px;
    height: 50px;
    position: relative;
    left: 430px;
    top: -33px;
    padding: 0px;
}
.primarynav{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300px;
    color: white;
    background-color: #000033;

    list-style-type: none;
    display: inline;
    position: relative;
    left: 2px;
    top: 15px;
    right: 20px;
    text-align: center;
}
#selectp{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    width: 92px;
    margin: 18px 20px -5px 11px;
    background-color: #000033 ;
    color: white;
    border: none;
}
#selectp:hover{
    cursor: pointer;
    color: lightblue;
}

.primarynav1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300px;
    color: white;
    background-color: #000033;

    list-style-type: none;
    display: inline;
    position: relative;
    left: 2px;
    top: 15px;
    right: 20px;
    text-align: center;
}
#selectp1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    width: 96px;
    margin: 18px 20px -5px -26px;
    background-color: #000033 ;
    color: white;
    border: none;
}
#selectp1:hover{
    cursor: pointer;
    color: lightblue;
}
.new{
    color: red;
}


.primarynav2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300px;
    color: white;
    background-color: #000033;

    list-style-type: none;
    display: inline;
    position: relative;
    left: 2px;
    top: 15px;
    right: 20px;
    text-align: center;
}
#selectp2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    width: 114px;
    margin: 18px 20px -5px -26px;
    background-color: #000033 ;
    color: white;
    border: none;
}
#selectp2:hover{
    cursor: pointer;
    color: lightblue;
}


.primarynav3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300px;
    color: white;
    background-color: #000033;

    list-style-type: none;
    display: inline;
    position: relative;
    left: 2px;
    top: 15px;
    right: 20px;
    text-align: center;
}
#selectp3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    width: 96px;
    margin: 18px 20px -5px -26px;
    background-color: #000033 ;
    color: white;
    border: none;
}
#selectp3:hover{
    cursor: pointer;
    color: lightblue;
}


.primarynav4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300px;
    color: white;
    background-color: #000033;

    list-style-type: none;
    display: inline;
    position: relative;
    left: 2px;
    top: 15px;
    right: 20px;
    text-align: center;
}
#selectp4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    width: 150px;
    margin: 18px 20px -5px -26px;
    background-color: #000033 ;
    color: white;
    border: none;
}
#selectp4:hover{
    cursor: pointer;
    color: lightblue;
}


.primarynav5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300px;
    color: white;
    background-color: #000033;

    list-style-type: none;
    display: inline;
    position: relative;
    left: 2px;
    top: 15px;
    right: 20px;
    text-align: center;
}
#selectp5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    width: 80px;
    margin: 18px 20px -5px -26px;
    background-color: #000033 ;
    color: white;
    border: none;
}
#selectp5:hover{
    cursor: pointer;
    color: lightblue;
}

#selectp6{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    width: 102px;
    margin: 18px 20px -5px -26px;
    background-color: #000033 ;
    color: white;
    border: none;
}
#selectp6:hover{
    cursor: pointer;
    color: lightblue;
}

#selectp7{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    width: 80px;
    margin: 18px 20px -5px -26px;
    background-color: #000033 ;
    color: white;
    border: none;
}
#selectp7:hover{
    cursor: pointer;
    color: lightblue;
}

.searchbar{
    background-image: url("img/search.png");
    width: 43px;
    height: 50px;
    position: relative;
    left: 795px;
    bottom: 50px;
    font-weight: bold;
    cursor: pointer;
}

#paun{
    position: absolute;
    top: 170px;
    left: -35px;
    width: 700px;
    height: 700px;
}

#paun1{
    position: absolute;
    top: 203px;
    left: 685px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

#readm{
    position: absolute;
    top: 316px;
    left: 690px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 44, 95);;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 20px 5px 20px;
}

#readm:hover{
    background-color: white;
    color: rgb(0, 44, 95);;
}

#next{
    position: absolute;
    top: 412px;
    left: 660px;
    width: 270px;
    height: 170px;
    background-color: #001133;
}
.nextpart{
    color: white;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 10px;
    font-size: 12px;
}
#nish{
    color: lightblue;
    font-weight: bold;
    padding-left: 0px;
    padding-top: 10px;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
}
.nish{
    padding-left: 30px;
}
#nishimg{
    width: 270px;
    height: 170px;
    position: relative;
    left: 270px;
    top: -119px;
}

#makingpositionpossible{
    position: absolute;
    top: 870px;
    left: 0px;
    width: 100%;
    background-color: #001133;
    padding-left: 0px;
    margin-left: 0px;
    height: 695px;
}

#img3{
    width: 750px;
    height: 650px;
    padding-left: 100px;
    padding-top: 70px;
    margin-left: 0px;
}
.listb{
    list-style-type: none;
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    top: 85px;
    left: 370px;
}
.listb1{
    list-style-type: none; 
}
.listb2{
    list-style-type: none;
}
#listbli{
    margin-bottom: 55px;
}
#listbli1{
    margin-bottom: 55px;
}
#listbli2{
    margin-bottom: 78px;
}
#listbli3{
    margin-bottom: 78px;
}
#listbli4{
    margin-bottom: 78px;
}

#sedcnum{
    float: right;
    position: relative;
    top:-724px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #122f6b;
    width: 250px;
    margin-right:100px;
    height: 675px;
    overflow: auto;
}

#sedcnum h1{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0px;
    text-indent: 10px;
    text-align: justify;
    margin-top: 0px;
}

#sedcnum p{
    font-family: Arial, Helvetica, sans-serif;
    color: #bbc7c7;
    font-size: 12px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 70px;
    text-align: justify;
}
#numbers{
    margin-top: 0px;
    padding-top: 0px;
    position: relative;
    top: -25px;
    margin-bottom: 0px;
}


#makingpositionpossible2{
    position: absolute;
    top: 1565px;
    left: 0px;
    width: 100%;
    height: 430px;
    background-color: white;
}
#secnews h1{
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 10px;
    left: 110px;
}
#secnews p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    position: relative;
    left: 110px;
    top: 70px;
}
#secnews img.newsimg{
    position: relative;
    top: -160px;
    left: 45px;
    margin: 13px;
}

#secnews p#p1news{
    position: relative;
    top: -225px;
    left: 395px;
    width: 60px;
    height: 37px;
    text-align: center;
    padding: 5px;
    font-size: 14px;
    color: white;
    background-color: #001133;
}
#yearsecnews{
    font-weight: bold;
    color: #3ba0de;
}

#secnews p#p2news{
    position: relative;
    top: -225px;
    left: 395px;
    font-size: 16px;
    background-color: #e0e0d1;
    width: 241px;
    height: 100px;
    color: #3ba0de;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 20px;
}



#secnews p#p3news{
    position: relative;
    top: -390px;
    left: 686px;
    width: 60px;
    height: 37px;
    text-align: center;
    padding: 5px;
    font-size: 14px;
    color: white;
    background-color: #001133;
}
#yearsecnews2{
    font-weight: bold;
    color: #3ba0de;
}

#secnews p#p4news{
    position: relative;
    top: -392px;
    left: 686px;
    font-size: 16px;
    background-color: #e0e0d1;
    width: 243px;
    height: 100px;
    color: #3ba0de;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#linkp4news{
    text-decoration: none;
}
#linkp2news{
    text-decoration: none;
}

#secnews p#p2news:hover{
    color: black;
}
#secnews p#p4news:hover{
    color: black;
}





#secnews p#p5news{
    position: relative;
    top: -558px;
    left: 978px;
    width: 60px;
    height: 37px;
    text-align: center;
    padding: 5px;
    font-size: 14px;
    color: white;
    background-color: #001133;
}
#yearsecnews3{
    font-weight: bold;
    color: #3ba0de;
}

#secnews p#p6news{
    position: relative;
    top: -558px;
    left: 978px;
    font-size: 16px;
    background-color: #e0e0d1;
    width: 243px;
    height: 100px;
    color: #3ba0de;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#linkp5news{
    text-decoration: none;
}
#linkp6news{
    text-decoration: none;
}
#secnews p#p6news:hover{
    color: black;
}

.datenews{
    text-decoration: none;
}



#makingpositionpossible3{
    position: absolute;
    top: 1983px;
    left: 0px;
    width: 100%;
    height: 432px;
    background-color: #ebebe0;
    overflow: hidden;
}



#about h2{
    position: relative;
    left: 110px;
    top: 28px;
    font-size: 28px;
}
#about h1{
    position: relative;
    left: 110px;
    top: -12px;
    font-size: 54px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#about h3{
    position: relative;
    left: 120px;
    top: -36px;
    font-size: 28px;
}
#about p{
    position: relative;
    left: 120px;
    top: -50px;
    font-size: 16px;

}
#about h3:hover{
    color: #3ba0de;
}
.linkabouth3{
    text-decoration: none;
    color: black;
}
#damjan{
    display: inline;
    position: relative;
    left: 700px;
    bottom: 420px;
}



#makingpositionpossible4{
    position: absolute;
    top: 2414px;
    left: 0px;
    width: 100%;
    height: 432px;
    background-color: #000033;
    bottom: 0px;
    overflow: hidden;

}

#listsnav ul li{
    color: white;
    list-style-type: none;
    display: inline;
}
.listitemabout li{
    margin-bottom: 1000px;
}




#about{
    position: relative;
    left: 40px;
    bottom: -27px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}
#linkabout{
    text-decoration: none;
}
#aboutitems{
    position: relative;
    left: -22px;
    bottom: -30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
#aboutitems li:hover{
    color: #3ba0de;
}
.linkaboutitems{
    text-decoration: none;
}
#academies{
    position: relative;
    left: 230px;
    bottom: 165px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}
#linkacademies{
    text-decoration: none;
}

#academiesitems{
    position: relative;
    left: 170px;
    bottom: 165px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
#academiesitems li:hover{
    color: #3ba0de;
}
.linkacademiesitems{
    text-decoration: none;
}








#courses{
    position: relative;
    left: 400px;
    bottom: 485px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

#coursesitems{
    position: relative;
    left: 340px;
    bottom: 485px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
#coursesitems li:hover{
    color: #3ba0de;
}
.linkcoursesitems{
    text-decoration: none;
}
.linkcourses{
    text-decoration: none;
}



#business{
    position: relative;
    left: 570px;
    bottom: 692px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

#businessitems{
    position: relative;
    left: 510px;
    bottom: 685px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
#businessitems li:hover{
    color: #3ba0de;
}
.linkbusinessitems{
    text-decoration: none;
}
.linkbusiness{
    text-decoration: none;
}




#testing{
    position: relative;
    left: 740px;
    bottom: 984px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

#testingitems{
    position: relative;
    left: 680px;
    bottom: 985px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
#testingitems li:hover{
    color: #3ba0de;
}
.linktestingitems{
    text-decoration: none;
}
.linktesting{
    text-decoration: none;
}



#newsletter{
    position: relative;
    left: 1000px;
    bottom: 1220px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: white;
}
.linknewsletter{
    text-decoration: none;
}
#email{
    position: relative;
    left: 1000px;
    bottom: 1200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    width: 145px;
    padding: 10px;
}

#subscribe{
    position: relative;
    left: 993px;
    bottom: 1200px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: white;
    width: 100px;
    padding: 12px;
    background-color: #619abc;
    font-weight: bold;
    border: none;
}
#subscribe:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}

#follow{
    position: relative;
    left: 1000px;
    bottom: 1175px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: white;
}
#fb{
    position: relative;
    left: 1000px;
    bottom: 1175px;
}
#yt{
    position: relative;
    left: 1000px;
    bottom: 1175px;
}
#insta{
    position: relative;
    left: 1000px;
    bottom: 1175px;
}
#fb:hover{
    box-shadow: 1px 1px 5px white;
}
#yt:hover{
    box-shadow: 1px 1px 5px white;
}
#insta:hover{
    box-shadow: 1px 1px 5px white;
}


#copyright{
    position: relative;
    left: 100px;
    bottom: 1100px;
    color: grey;
    border-top: 1px solid grey;
    width: 1170px;
    margin: 0px;
    padding: 0px;
}
#copyright span#dev{
    color: white;
    margin: 0px;
    padding: 0px;
    bottom: 0px;
}
#copyright p#devv{
    position: relative;
    left: 1030px;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
}
html, body { 
    width: 100%; 
    height: 100%; 
    margin: 0px; 
    padding: 0px; 
    overflow-x: hidden;
}